.tweetBox {
  border-bottom: 8px solid var(--twitter-background);
  padding: 10px;

  form {
    display: flex;
    flex-direction: column;
  }

  &__input {
    display: flex;
    align-items: center;

    input {
      flex: 1;
      border: none;
      font-size: 18px;
      outline: none;
      margin-left: 20px;
    }
  }

  &__imageInput {
    border: none;
    padding: 20px;
    outline: none;
  }

  &__tweetButton {
    background-color: var(--twitter-color) !important;
    color: white !important;
    width: 150px!important;
    font-weight: bold!important;
    border-radius: 30px!important;
    height: 40px!important;
    margin-top: 20px!important;
    margin-left: auto!important;
  }


}
